
/* Space out content a bit */
body {
    top:66px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #5c5b5b;
}

/* Customize container */
@media (min-width: 768px) {
  .container-Form {
 max-width: 730px;
 margin-top: 66px; 
    margin-left: 306px;
}
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    background-color:pink;

  }
  .clr{
      background-color: rgb(35, 47, 62);
      padding:5px;
      text-align: center;
  }
  .clr:hover{background-color:  rgb(35, 47, 62,.86);}
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.form-heading{
    color:  rgb(35, 47, 62);
    text-shadow: 1px;
    margin: 30px 0 20px 13px;
    
}

cardstyle{
  width: fit-content;
  height: fit-content;
}